server:
  port: 8081
spring:
  application:
    name: hmdp
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://127.0.0.1:3306/hmdo?useSSL=false&serverTimezone=UTC
    username: root
    password: 123456
  redis:
    host: 127.0.0.1
    port: 6379
    password:
    lettuce:
      pool:
        max-active: 10
        max-idle: 10
        min-idle: 1
        time-between-eviction-runs: 10s
  jackson:
    default-property-inclusion: non_null # JSON处理时忽略非空字段
  mail:
    host: smtp.163.com
    username: zzzhlee0930@163.com
    password: RYBJQOBTUCFDPBDF
    properties:
      from: zzzhlee0930@163.com
    thymeleaf:
      cache: false
      prefix: classpath:/views/
      servlet:
        multipart:
          max-file-size: 5MB #限制单个文件大小
          max-request-size: 50MB #限制请求总量
  rabbitmq:
    host: localhost
    port: 5672
    username: root
    password: 123456
    virtual-host: /zxShare
mybatis-plus:
  type-aliases-package: com.hmdp.entity # 别名扫描包
logging:
  level:
    com.hmdp: debug


